<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
<display-name>PDFUploader</display-name>

 <servlet>
        <servlet-name>SubmitPDF</servlet-name>
        <servlet-class>com.ibm.pdf.SubmitPDFForm</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GetPDF</servlet-name>
        <servlet-class>com.ibm.pdf.GetPDFFile</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubmitPDF</servlet-name>
        <url-pattern>/submitform</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>GetPDF</servlet-name>
        <url-pattern>/getpdf</url-pattern>
    </servlet-mapping>
    
<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
</welcome-file-list>	
</web-app>